@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
} 
body{
    background-color: #1A0B2E ;
}
/* navbar related style */
.nav-container{
    max-width: 1600px;
    height: 92px;
    /* border: 1px solid rgb(98, 99, 98); */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.nav-Left h1{
    color: white;
    font-size: 48px;
    font-weight: 900;
    
}
.nav-Left h1 span{
    background: linear-gradient(rgba(251, 9, 180, 1), rgba(145, 0, 248, 1), rgb(245, 234, 109));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 48px;
    margin: 0;
    font-weight: 900;
    
}
.nav-container>.nav-p{
    display: flex;
    gap: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.nav-container .btn-1{
    width: 135px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(45deg,rgb(245, 234, 109),rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 20px;
    cursor: pointer;
    

}
.btn-1 img{
    vertical-align: middle;
}

.nav-container .span-2{
    display: none;

}
/* banner section related some style */
 
.banner-container .bg{
    max-width: 1600px;
    margin: 0 auto;
    height: 760px;
    /* border: 2px solid green; */
    background-image: url("./assets/hero-bg.png");
    justify-items: center;
}

.img-section{
    padding-top: 101px;
}
.img-section>.circle{
    position: relative;
       
}
.img-section>.microphone{
    width: 120px;
    position: absolute;
    z-index: 2;
    top: 33%;
    left: 47%;
    
}
.img-section button{
    
    font-size: 30px;
    position: absolute;
    left: 55%;
    top: 27%;
    background-color: #00FF88;
    border-radius: 30px;
    padding: 8px 16px 8px 16px;
    text-align: center;

}
.img-section .new{
    width: 120px;
}
    
.banner-container .font-container{
    align-content: center;
}
.font-container{
    text-align: center;
    margin-top: 50px;
}
.font-container h1{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 600;
}
.font-container p{
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 20px;
}
.font-container .bg-button-1{
    width: 201px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(45deg,rgb(245, 234, 109),rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 20px;
    cursor: pointer;

}
.bg-button-1 img{
    border: 1px solid white;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
    
    
}
.font-container .bg-button-2{
    width: 147px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}
.bg-button-2 img{
    margin-right: 10px;
    vertical-align: middle;
}
/* about related style */
.about-container{
    max-width: 1600px;
    margin: 0 auto;
    /* border: 2px solid white; */
  

    
}
.about-container .about-info{
    text-align: center;
    color: white

}
.about-info h1{
    font-size: 41px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 10px
    

}
.about-info .p1{
    font-size: 16px;
    text-decoration: dashed;
    color: #ffffff9a;
    margin-bottom: 10px;
    padding: 0 20px 0 20px;
    /* max-width: 500px; */
    white-space: pre-line;
    
}
.about-container hr{
    margin-top: 70px;
    margin-bottom: 70px;
    color:#9491919a; ;
}
.about-info .p2{
    color: #ffffff9a;
    padding-top: 10px;
}
.box-container{
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
   color: white ;
   align-items: center;
  justify-items: center ;

}
.box h1{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    padding-bottom: 20px;
    margin-left: 20px;
}
/* choose section related style */
.choose-container{
    max-width: 1600px;
    height: 1022px;
    margin: 0 auto;
    /* border: 2px solid white; */
    background-color: #230E3D;
    justify-items: center;
    
}
.heading{
    
   margin-top: 100px;
   padding-top: 100px;
    font-size: 1.50rem;
    color: #FFFFFF;
}
.grid-info{
    
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 20px;
  max-width:1200px;
  height: 783px;
  margin-top: 20px;


}

.grid-info h4{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 40px 10px 40px;
    color: white;
    
    
}
.grid-info img{
    margin-left: 40px;
    margin-top: 40px;
}
.grid-info p{
    color: #ffffff9a;
    margin-left: 40px;
}
.box-1{
    border-radius: 20px;
    grid-row: 1/span 2;
   background-color: #351165;
   
}
.box-2{
    border-radius: 20px;
    grid-column: 2/span 2;
     background-color: #351165;

}
.box-3{
    border-radius: 20px;
    grid-column: 2/span 2;
    background-color: #351165;
}
.box-4{
      border-radius: 20px;
      grid-column: 1/span 2;
     background-color: #351165;
     width: 790px;
     height: 261px;

}
.box-5{
    border-radius: 20px;
     background-color: #351165;
     height: 261px;
}
/* video section style */

.Media{
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
}
.video-heading h1{
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
}
.video-container{
   display: flex;
   justify-content: space-around;
    gap: 10px;
   
   
}

 .video-container .video-1{
    border-radius: 20px;
    width: 380px;
    height: 440px;
    margin: 10px;
    background-color: #3a136d;
}
.video-container .video-2{
    border-radius: 20px;
    width: 380px;
    height: 440px;
    margin: 10px;
    background-color: #3a136d;
}
.video-container .video-3{
    border-radius: 20px;
    width: 380px;
    height: 440px;
    margin: 10px;
    background-color: #3a136d;

}
.video-1, .video-2, .video-3, h1{
    font-size: 2rem;
    font-weight: 500;
    color: white;
    margin-top: 20px;
    margin-left: 20px;

}
.video-1, .video-2, .video-3, p{
    font-size: 16px;
    color: #8b8888;
    margin-top: 20px;
    margin-left: 20px;
}
.video-1, .video-2, .video-3, span{
    color: #00FF88;
    font-size: 16px;
    margin-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-left: 30px;

    
}
.video-1 .video-2, .video-3, span img{
    margin-right: 10px;
    margin-top: 10px;
}
.video-1, .video-2, .video-3, video{
   width: 380px;
   height: 214px; 
   border-radius: 10px;
}
/* host related style */
.host-container{
    max-width: 1600px;
    margin: 0 auto;
    justify-items: center;
    margin-top: 100px;
}
.host-container .host-heading h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
}
.host-section{
    display: flex;
    width: 1200px;
    height: 280px;
    background-color: #4b208379;
    border-radius: 30px;

}
.host-img{
    margin: 40px;
}
.host-info{
    margin-top: 30px;
}
.host-info img{
    margin-left: 20px;
    margin-top: 30px;
    border: 1px solid gray;
   padding: 10px;
   border-radius: 50%;

    
}
/* footer section style*/
footer{
    max-width: 1600px;
    margin: 0 auto;
    background-image: url("./assets/footer-bg.png");
    height: 412px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
    
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.footer-container h2{
    font-size: 6rem;
    font-weight: bold;
    margin-top: 100px;
    color: #FFFFFF;
}
.footer-container h2 strong{
    background: linear-gradient(rgba(251, 9, 180, 1), rgba(145, 0, 248, 1), rgb(245, 234, 109));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
   
}
.social-links{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 16px;
    margin-left: 50px;
    font-size: 16px;
      
}
.social-links a{
    color: #ffffff9a;
    text-decoration: none;
}








/* responsive code */
@media screen and (max-width:576px) {
 .nav-container .nav-p{
    display: none;
 }
    .btn-1 {
        display: none;
    }
   .nav-container .span-2{
    display: inline;
   }
   .banner-container .bg {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        padding: 20px;
        
    }
    .img-section {
        width: 100%;
        position: relative;
        margin-bottom: 30px; 
    }
    .font-container p {
        font-size: 1rem;
        padding: 0 10px;
    }
    .circle
        {
        width: 80%; 
        height: auto;
    }
    .img-section>.microphone{
        width: auto; 
        height: auto;
       top: 40%;
       left: 39%;
       
    }
    .img-section button{
        width: auto;
        height: auto;
        left: 75%;
        top: 27%;
    }
    .bg-button-1, .bg-button-2 {
        width: 100%;   
        
        
    }
    /* about container */
    .about-container{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }
    .box-container{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    .about-info .p1{
        margin: 30px;
        
    padding: 0 20px 0 20px;
    }
    .choose-container{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       height: 100%;
       width: 100%;
        
    }
    .grid-info{
        display: flex;
       flex-direction: column;
       justify-items: center;
       width: 400px;
       height: 287px;
       
    }
    .box-4{
        width: 400px;
        height: 278px;
    }
    .Media{
        margin-top: 1000px;
        
    }
    .video-container
    {
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        
    }
    
    .host-section{
    flex-direction: column; 
    text-align: center;     
    padding: 24px;  
    width: 400px;
    height: 480px;        
  }
  .host-img{
    width: 150px;
    height: 150px;
    align-items: center;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 100px;
  }
  .host-info{
    margin-top: 0;
  }
  .host-info img{
    margin-bottom: 20px;
  }
 
  .footer-container{
    display: flex;
    flex-direction: column;
    
   


  }
  footer{
    background-image: url("./assets/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-attachment: scroll;
    
  }
  .social-links{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}