@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
} 
body{
    background-color: #1A0B2E ;
}
/* navbar related style */
.nav-container{
    max-width: 1600px;
    height: 92px;
    /* border: 1px solid rgb(98, 99, 98); */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.nav-Left h1{
    color: white;
    
}
.nav-Left h1 span{
    background: linear-gradient(rgba(251, 9, 180, 1), rgba(145, 0, 248, 1), rgb(245, 234, 109));
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.nav-container>.nav-p{
    display: flex;
    gap: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.nav-container .btn-1{
    width: 135px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(45deg,rgb(245, 234, 109),rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 20px;
    cursor: pointer;
    

}
.btn-1 img{
    vertical-align: middle;
}

.nav-container .span-2{
    display: none;

}
/* banner section related some style */
 
.banner-container .bg{
    max-width: 1600px;
    margin: 0 auto;
    height: 760px;
    /* border: 2px solid green; */
    background-image: url("./assets/hero-bg.png");
    justify-items: center;
}

.img-section{
    padding-top: 101px;
}
.img-section>.circle{
    position: relative;
       
}
.img-section>.microphone{
    width: 120px;
    position: absolute;
    z-index: 2;
    top: 33%;
    left: 47%;
    
}
.img-section button{
    
    font-size: 30px;
    position: absolute;
    left: 55%;
    top: 27%;
    background-color: #00FF88;
    border-radius: 30px;
    padding: 8px 16px 8px 16px;
    text-align: center;

}
.img-section .new{
    width: 120px;
}
    
.banner-container .font-container{
    align-content: center;
}
.font-container{
    text-align: center;
    margin-top: 50px;
}
.font-container h1{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 600;
}
.font-container p{
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 20px;
}
.font-container .bg-button-1{
    width: 201px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(45deg,rgb(245, 234, 109),rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 20px;
    cursor: pointer;

}
.bg-button-1 img{
    border: 1px solid white;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
    
    
}
.font-container .bg-button-2{
    width: 147px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}
.bg-button-2 img{
    margin-right: 10px;
    vertical-align: middle;
}
















/* responsive code */
@media screen and (max-width:576px) {
 .nav-container .nav-p{
    display: none;
 }
    .btn-1 {
        display: none;
    }
   .nav-container .span-2{
    display: inline;
   }
   .banner-container .bg {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        padding: 20px;
        
    }
    .img-section {
        width: 100%;
        position: relative;
        margin-bottom: 30px; 
    }
    .font-container p {
        font-size: 1rem;
        padding: 0 10px;
    }
    .circle
        {
        width: 80%; 
        height: auto;
    }
    .img-section>.microphone{
        width: auto; 
        height: auto;
       top: 40%;
       left: 39%;
       
    }
    .img-section button{
        width: auto;
        height: auto;
        left: 75%;
        top: 27%;
    }
    .bg-button-1, .bg-button-2 {
        width: 100%;   
        
        
    }
    
}